<!DOCTYPE html>

<head>
  <title>Jarvic智能助手</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='dog.png') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
  <script src="https://cdn.socket.io/4.6.0/socket.io.min.js"
    integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+"
    crossorigin="anonymous"></script>
    <script src="https://cdn.staticfile.org/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
  <img src="{{ url_for('static', filename='logo.png') }}" class="icon" />
  <h3>Jarvic</h3>
  <div class="result">
    <textarea id="test" rows="15" style="width:80%">
    </textarea>
  </div>
  <input id="text" type="text" name="animal" placeholder="输入文字" required />
  <input id="btn" type="submit" value="发送" />
  
  <script>
    $(document).ready(function () {
      const button = document.getElementById('btn')

      button.addEventListener('click', function () {
        const paragraph = document.getElementById('test');
        paragraph.innerHTML ="";
        const requestOptions = {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ query: document.getElementById('text').value }),
      };
      // console.log()
      fetch('/askMe', requestOptions)
        .then(response => {
          const reader = response.body.getReader();
          function read() {
            return reader.read().then(({ done, value }) => {
              const decoder = new TextDecoder('utf-8');
              if (done) {
                console.log('数据读取完成');
                return;
              }
              const text = decoder.decode(value)
              // console.log(encode.decode(value));
              const paragraph = document.getElementById('test');
              paragraph.insertAdjacentHTML('beforeend', text);
              return read();
            });
          }
          return read();
        })
        .catch(error => {
          console.error('请求发生错误:', error);
        });
      });
        console.log('文档已经加载完成！');
      });
  </script>
</body>